
<aside id="LeftMenuBar" class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-tachometer"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/Dashboard/Dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-product-hunt"></i> <span>Articles</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/Articles/Articles"><i class="fa fa-search"></i> Articles</a></li>
          <li><a href="/Articles/Families"><i class="fa fa-plus-circle"></i> Families</a></li>
          <li><a href="/Articles/SubFamilies"><i class="fa fa-plus-circle"></i> SubFamilies</a></li>
          <li><a href="/Articles/Brand"><i class="fa fa-plus-circle"></i> Brand</a></li>
          <li><a href="/Articles/Nomenclature"><i class="fa fa-plus-circle"></i> Nomenclature</a></li>
          <li><a href="/Articles/Prices"><i class="fa fa-plus-circle"></i> Prices</a></li>
          <li><a href="/Articles/Subscriptions"><i class="fa fa-plus-circle"></i> Subscriptions</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-user-secret"></i> <span>Partner</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/Partners/Partners"><i class="fa fa-user-secret"></i> Partners</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-shopping-cart"></i> <span>Trades</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/Trades/Sales"><i class="fa fa-money"></i> Sales</a></li>
          <li><a href="/Trades/Purchases"><i class="fa fa-shopping-cart"></i> Purchases</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i> <span>Users</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/Users/Groups"><i class="fa fa-users"></i> Groups</a></li>
          <li><a href="/Users/Users"><i class="fa fa-user"></i> Users</a></li>
          <li><a href="/Users/Modules"><i class="fa fa-desktop"></i> Modules</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
