@using Bm2sBO.Utils;

<div data-ng-controller="Dashboard">
  
</div>

@{
  ViewBag.Title = @Html.TranslationFor("dashboard", "title", "Dashboard");
  ViewBag.Page = "Dashboard";
  ViewBag.Section = "Dashboard";
}
