
@{
  ViewBag.Title = "Index";
}

<div data-ng-controller="Login">
  <form data-ng-submit="openSession()">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-user" />
        </div>
        <input type="text" class="form-control" data-ng-model="UserLogin" data-ng-change="testForm()"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-lock" />
        </div>
        <input type="password" class="form-control" data-ng-model="Password" data-ng-change="testForm()"/>
      </div>
    </div>
    <div class="form-group pull-right">
      <div class="input-group" data-ng-disabled="invalidLogin">
        <button class="btn" data-ng-click="openSession()">
          <span class="glyphicon glyphicon-check"/>
        </button>
      </div>
    </div>
  </form>
</div>