@model Bm2sBO.Areas.Parameters.Models.TranslationsModel

@using Bm2sBO.Utils;

@{
  ViewBag.Title = "Translations";
}

<div class="box" data-ng-controller="Translation">
  <div datatable />
</div>

<script type="text/javascript">
  var languages = @Model.Language.Response.ToHtmlJson();

  var columnsHeader = [];
  columnsHeader.push({"Key": 'screen', "Value": "@Html.TranslationFor("listtranslations", "screen", "Screen")"});
  columnsHeader.push({"Key": 'key', "Value": "@Html.TranslationFor("listtranslations", "key", "Key")"});
</script>
