@model Bm2sBO.Models.ArticleModel

@using Bm2sBO.Utils;

@{
  ViewBag.Title = "Articles";
}

<div data-ng-controller="Article">
  <form>
    <input type="hidden" value="{{Article.Id}}" />
    <div class="form-group">
      <label for=""></label>
    </div>
  </form>
</div>

<script type="text/javascript">
  var articles = @Model.Articles.Response.ToHtmlJson();
</script>
