@using Bm2sBO.Utils;
@{
  ViewBag.Page = "Brands";
  ViewBag.Section = "Articles";
}

@if (!UserUtils.CanListBrands)
{
  <script type="text/javascript">
    window.location = "/";
  </script>
}

<section class="content">
  @{ Html.RenderAction("List", "Brands", new { area = "Articles" }); }
</section>